@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  /* font-family: 'PT Serif', serif; */
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'PT Sans', sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #9e9088;
}

.wrapper {
  /* overflow: auto; */
  min-height: 100%;
  display: grid;
  /* grid-template: 90px 1fr 110px / 1fr; */
  grid-template: [start] "header" 90px [row2] [row2] "content" 1fr [row3] [row3] "footer" 110px [row-end] / 1fr;
}

/* header */
.header {
  grid-area: header;
  padding: 15px 30px;
  background-color: #262B2F;
}

.header__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.header__space {
  flex: 1 1 auto;
}

.header__logo img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #fff;
}

.header__menu {
  margin: 0 60px 0 0;
}

.header__btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #F97028;
  border-radius: 10px;
  color: #fff;
  font-size: 1.25rem;
}

.header__list {
  display: flex;
  justify-content: space-between;
}

.header__list li {
  padding: 0 20px;
}

.header__link {
  color: #fff;
  font-size: 1.25rem;
}

.header__link:hover {
  color: #F97028;
}

.header__btn:hover {
  background-color: #B44912;
}

/* content */
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  background-image: url(../img/auto.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  /* align-items: flex-start; */
  /* align-items: start; */
  /* position: relative; */
}

.title {
  position: relative;
  overflow: visible;
}

.title__vector {
  position: absolute;
}

.title__text {
  position: absolute;
  margin: 18px 0 0 70px;
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
}

.container {
  /* width: 1300px; */
  padding: 0 200px;
  /* margin: 0 auto; */
  margin-top: 80px;
}

.main__content {
  max-width: 500px;
  /* margin-bottom: -30px; */
}

.main__content h1 {
  font-size: 3.8rem;
  margin-bottom: 20px;
}

.main__content h1 span {
  color: #F97028;
}

.main__content p {
  font-size: 1.125rem;
  margin-bottom: 10px;
}

.more__btn {
  padding: 10px 40px;
  color: #fff;
  border-radius: 10px;
  background-color: #F97028;
  font-size: 1.2rem;
}

.main__text {
  margin-bottom: 45px;
}

.main__advantages {
  position: relative;
  /* height: 300px; */
  /* background-color: #fff; */
  max-width: 100%;
  /* max-height: 100%; */
  /* bottom: 0; */
  /* background: url('../img/vector.svg');
  background-repeat: no-repeat;
  background-size: fill;
  background-position: left bottom; */

}

.advantages__vector {
  /* object-fit: fill; */
  max-width: 100%;
}

.advantage__list {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* height: 100%; */
  display: flex;
  gap: 30px;
  justify-content: space-around;
  align-items: flex-end;
  padding: 50px 80px;
}

.advantage__list li {
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 300px;
}

.advantage__list img {
  width: 60px;
  height: 60px;
}

.advantage__list li h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.advantage__text p {
  font-size: 1.1rem;
  line-height: 1.2rem;
}

/* footer */
.footer {
  grid-area: footer;
  background-color: #262B2F;
  padding: 15px 30px;
  color: #fff;
}

.footer__row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.footer__logo img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.footer__link {
  color: #fff;
  font-size: 16px;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  color: #fff;
  font-size: 16px;
}

.footer__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  text-decoration: underline;
}

.footer__link-item {
  color: #F97028;
  font-size: 16px;
  text-decoration: underline;
}

.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  gap: 15px;
}

.footer__icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.footer__icon {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #F97028;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}