* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* header */
.header {
  padding: 15px 30px;
  background-color: #262B2F;
}

.header__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.header__space {
  flex: 1 1 auto;
}

.header__logo img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #fff;
}

.header__menu {
  margin: 0 60px 0 0;
}

.header__btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #F97028;
  border-radius: 10px;
  /* text-align: center; */
  color: #fff;
  font-size: 20px;
}

.header__list {
  display: flex;
  justify-content: space-between;
}

.header__list li {
  margin: 0 20px;
}

.header__link {
  color: #fff;
  font-size: 20px;
}

.pressed__link {
  color: #F97028;
}

.header__link:hover {
  color: #F97028;
}

/* content */
.content {
  flex: 1 1 auto;
  position: relative;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 60px;
  position: relative;
}

.content__vector {
  position: absolute;
}

.content__title {
  position: absolute;
  top: 25px;
  left: 70px;
  font-size: 28px;
  color: #fff;
  letter-spacing: 2px;
}

.main {
  margin-top: 120px;
}

.main__group {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.main__group span {
  color: #F97028;
}

.main__theory {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 20px 40px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

.main__theory :last-child {
  text-decoration: underline;
  font-weight: 400;
}

.main__practice {
  /* font-weight: 600; */
  padding: 40px 60px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

.main__practice>p {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.practice__list {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.practice__list li {
  padding: 25px;
  background-color: #FFF4E7;
  border: 1px solid #F97028;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item__tags {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}

.item__tags>span {
  padding: 8px 24px;
  color: #F97028;
  background-color: #fff;
  border: 1px solid #F97028;
  border-radius: 10px;
}

.tag__payment img {
  width: 16px;
  height: 16px;
}

.tag__notpaid {
  display: none;
  color: #FF5454;
}

.tag__paid {
  color: #7AC53F;
}

/* footer */
.footer {
  background-color: #262B2F;
  padding: 15px 30px;
  color: #fff;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.footer__logo img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.footer__link {
  color: #fff;
  font-size: 16px;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  color: #fff;
  font-size: 16px;
}

.footer__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  text-decoration: underline;
}

.footer__link-item {
  color: #F97028;
  font-size: 16px;
  text-decoration: underline;
}

.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  gap: 15px;
}

.footer__icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.footer__icon {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #F97028;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}